


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    &__left {
        flex: 1;
        height: 70vh;
    }
    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.rectsvg {
    transition: all 2s;

    rect {
        transition: all 2s;
    }
}