


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    margin-top: 2.5em;
    padding: 0 4em;
    &__title {
        flex: 2;
    }
    &__text {
        flex: 4;
    }

    h1 {
        transition: all .5s;
        padding: 1rem;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.rectsvg {
    transition: all 1s;

    rect {
        transition: all 1s;

        &:hover {
            fill: white;
        }
    }
}