

.mysvg {
    position: absolute;
    top: -20px;
    left: -20px;
    border: none;
    path {
        transition: all 3s;
    }
    path:hover {
        fill: white;
        transition: all .4s;
    }
}

.login {
    display: flex;
    color: $secondary-color;
    button {
        color: $secondary-color;
    }
    &__left {
        flex: 1;
    }

    &__right {
        flex: 1;
        &__title {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}