
.movie {
    display: flex;
    justify-content: center;
    align-items: center;

    &__left {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary-color;

        &__throw {
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 3em;
                input {
                    text-align: center;
                    font-size: 1.1rem;
                    padding: 1em 2em;
                    border: none;
                    outline: none;
                    background: none;
                    color: $secondary-color;
                    &::placeholder {
                        color: $secondary-color;
                    }
                    &:focus {
                        font-weight: 600;
                        border-bottom: 3px solid $secondary-color;
                    }
                }
            }
        }
        &__statistics {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3em;
        }
    }

    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}