
.song {
    width: 100%;
    display: flex;
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex:1;

        &__header {
            padding: 2em;

            &__buttons {
                display: flex;
                
                button {
                    width: 7em;
                    height: 2em;
                    outline: none;
                    border-radius: 2rem;
                    background: none;
                    margin-right: 2em;
                    &:last-child {
                        margin-right: 0em;
                    }
                }
            }
        }
        &__content {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        flex:1;
        color: $secondary-color;
        &__throw {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 4rem;
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                label {
                    margin-bottom: .2rem;
                }
                input {
                    height: 3em;
                    margin-bottom: 1rem;
                    text-align: center;
                    border: 2px solid $secondary-color;
                    background: none;
                    outline: none;
                    font-size: 1.1rem;
                    color: $secondary-color;
                    width: 70%;
                    &:focus {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
    outline: none;
    transition: all .5s;
    &:hover {
        cursor: pointer;
        width: 3.3rem;
        height: 3.3rem;
        transition: all .5s;
    }
}
.post {
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: $color-3 ;
    color: $color-1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    a {
        color: blue;
        margin-right: 1rem;
    }
    &__title {
        margin-bottom: 1rem;
    }
    &__links {
        margin-top: 1rem;
    }
}