
.song {
    width: 100%;
    display: flex;
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex:1;

        &__header {
            padding: 2em;

            &__buttons {
                display: flex;
                
                button {
                    width: 7em;
                    height: 2em;
                    outline: none;
                    border-radius: 2rem;
                    background: none;
                    margin-right: 2em;
                    &:last-child {
                        margin-right: 0em;
                    }
                }
            }
        }
        &__content {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        flex:1;
        color: $secondary-color;
        &__statistics {
            padding: 4em 8em;
            text-align: center;
            margin: 3em 0;
            font-size: .9rem;
        }
        &__throw {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 3em;
                input {
                    text-align: center;
                    font-size: 1.1rem;
                    padding: 1em 2em;
                    border: none;
                    outline: none;
                    background: none;
                    color: $secondary-color;
                    &::placeholder {
                        color: $secondary-color;
                    }
                    &:focus {
                        font-weight: 600;
                        border-bottom: 3px solid $secondary-color;
                    }
                }
            }
        }
    }
}

.post {
    border-bottom: 3px solid white;
    color: $secondary-color;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
}