


.form__input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    input {
        height: 3em;
        width: 70%;
        font-size: 1.1rem;
        padding: 1em;
        margin: .2em;
        outline: inherit;
        border: none;
        background: linear-gradient(to right, white, white, 80%);
        transition: all .5s;

    }
    button {
        background: none;
        border: none;
        outline: none;
        margin-top: .8em;
        margin-bottom: 2em;
        font-weight: 600;
        padding: .5rem;
        transition: all .2s;
        font-size: 1.2rem;

        &:hover {
            cursor: pointer;
            border-left: 3px solid  $secondary-color;
            transition: all .2s;
        }
    }
}