

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


$color-1 : #FFFFFF;
$color-2: #2E282A;
$color-3: #FFC914;
$color-4: #76B041;
$color-5: #17BEBB;
$color-6: #E4572E;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}